@mixin dropdown-fixed {
	position: fixed;
	display: none;
	top: auto !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: auto !important;
	width: auto !important;
	z-index: 1060;
	max-height: 100%;
	border-width: 0;
	border-radius: 0 !important;
	box-shadow: 0 0 0 1000px transparentize($navy,.1);
	@include font-size-large;
	padding: 12px 0 !important;
	a {
		padding-top: 8px !important; 
		padding-bottom: 8px !important;
	}
	.dropdown-header {
		padding-left: 2.375em;
		padding-right: 2.375em;
	}
	.dropdown-open & {
		display: block;
	}
}

.dropdown-menu {
	@include transform(scale(.75),(0 0));
	@include transition(all .1875s $bezier-bounce);
	@include box-shadow($dropdown-shadow);
	@include font-size-base;
	border-width: 0;
	border-radius: $border-radius-xl !important;
	-webkit-transition-property: opacity, -webkit-transform;
	-moz-transition-property: opacity, -moz-transform;
	-ms-transition-property: opacity, -ms-transform;
	-o-transition-property: opacity, -o-transform;
	transition-property: opacity, transform;
	opacity: 0;
	display: block;
	left: -9999px;
	max-height: 50vh;
	overflow: auto;
	padding: 5px 0 !important;
	font-style: normal;
	&.dropdown-menu-notice-top {
		padding-top: 0;
	}
	&.dropdown-menu-notice-bottom {
		padding-bottom: 0;
	}
	a .help-block {
		strong {
			color: $dark;
			font-style: normal;
			padding-right: .125em;
		}
		white-space: normal;
		min-width: 240px;
		font-size: $font-size-base;
		&.help-block-inline {
			&:after {
				content: '';
				display: block;
				width: 240px;
			}
		}
	}
	&.dropdown-menu-right {
		left: auto;
		right: 9999px;
	}
	
	> li > a {
		padding: .25em 15px;
		> * { margin: 0; }
		em { font-style: oblique; color: $light; }
		&:hover {
			background-color: $component-hover-bg;
		}
		.icon { margin-right: .25em; }
	}
	.divider {
		margin: 5px 0;
	}
	.dropdown-header {
		@include labels;
		padding: .5em 15px;
	}
	&.dropdown-menu-large {
		> li > a {
			padding-top: .5em;
			padding-bottom: .5em;
		}
	}
	> li.dropdown-notice {
		padding: 1em 1.5em;
		background: $silver;
		.notice {
			padding: 0;
		}
	}
	> li.dropdown-rich {
		padding: .25em 1.4em;
	}
	&.dropdown-menu-notice-top .dropdown-notice { margin-bottom: .5em; }
	&.dropdown-menu-notice-bottom .dropdown-notice { margin-top: .5em; }
}

.dropdown.open > .dropdown-menu {
	@include transform(scale(1),(0 0));
	opacity: 1;
	left: 0;
	&.dropdown-menu-right {
		right: 0;
		left: auto;
	}
}

.dropdown {
	cursor: pointer;
}
