@mixin loading(){
  text-align: center;
  &:after {
    content: '';
    border: 1px solid $silver-dark;
    border-top-color: $blue;
    border-top-width: 2px;
    font-size: 20px;
    height: 1em;
    width: 1em;
    @include spinning(.75s);
    @include circle;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    top: -1px;
    margin-right: 6px;
  }
}

.loading {
	@include loading;
	&.loading-large {
		&:after {
			font-size: 40px;
		}
	}
}

.loading-overlay {
	pointer-events: none;
	background: $silver;
	@include round;
	> * { opacity: .125; }
	.loading {
		@include fill;
		opacity: 1;
		&:after {
			display: block;
			@include middle;
			font-size: 40px;
		}
	}
}

$waiting-dot: 6px;
$waiting-buffer: 10px;

@mixin waiting(){
  text-align: center;
  margin: 0 ( $waiting-dot + $waiting-buffer );
  width: $waiting-dot;
  height: $waiting-dot;
  .waiting-dots { width: $waiting-dot; height: $waiting-dot; }
  .waiting-dots:before, &:after, &:before {
  	content: '';
  	width: 100%;
  	height: 100%;
  	background: currentColor;
  	position: absolute; top: 0;
  	@include circle;
  	@include transitions;
  	opacity: .5;
  }
  &:before { right: ( $waiting-dot + $waiting-buffer ); @include pulsing(2s,0s); }
  .waiting-dots:before { left: 0; @include pulsing(2s,.25s); }
  &:after { left: ( $waiting-dot + $waiting-buffer ); @include pulsing(2s,.5s); }
}

.waiting {
	//color: $silver-darker;
	color: $blue;
	@include waiting;
}

.waiting-overlay {
	pointer-events: none;
	background: $silver;
	@include round;
	> * { opacity: .125; }
	.waiting {
		opacity: 1;
		@include middle;
		
	}
}

