<div class="section-label">
	<h1>
		Invite your Team
		<small>Enter email addresses to invite teammates to your Sinter Project.</small>
	</h1>
</div>
<div class="section">
	<div class="section-table">
		<table class="table table-justified table-large">
			<tbody>
				<tr>
					<td class="sm"><div class="avatar avatar-large"><img src="{{site.baseurl}}/ui/img/avatars/avatar1.jpg"></div></td>
					<td class="sm"><h3>Tristan Handy</h3></td>
					<td><div class="meta">tristan@sinterdata.com</div></td>
					<td>
						<div class="dropdown">
							<div class="light" data-toggle="dropdown"><span class="caret"></span></div>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Action 1</a></li>
								<li><a href="#">Action 2</a></li>
								<li><a href="#">Action 3</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td class="sm"><div class="avatar avatar-large"></div></td>
					<td class="sm"><h3>Justin Example</h3></td>
					<td><div class="meta">this-wont-be-here-on-setup-just-demo@sinterdata.com</div></td>
					<td>
						<div class="dropdown">
							<div class="light" data-toggle="dropdown"><span class="caret"></span></div>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Action 1</a></li>
								<li><a href="#">Action 2</a></li>
								<li><a href="#">Action 3</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<form>
	<textarea ng-model="invites" class="form-control input-lg focus input-dark" placeholder="Invite additional team members by entering email addresses, separated with commas or new lines..."></textarea>
	<div class="form-footer" ng-if="invites" >
		<input type="submit" class="btn btn-info" value="Invite" />
	</div>
</form>